@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&family=Chivo+Mono:wght@200;500&family=Climate+Crisis&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,600&family=Roboto:ital,wght@0,400;0,500;1,300;1,500&family=Source+Code+Pro&family=Source+Serif+4:opsz,wght@8..60,500&family=Titillium+Web:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3498db;
}
.main{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}
#box{
    background-color: white;
    width: 500px;
    height: 70%;
    border-radius: 5px;
    padding: 8px;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}
.row{
    width:  100%;
    margin: 2rem;
}
.btn{
    width: 100%;
    height: 40px;
    padding: 5px;
     background-color: #3498db;
    border-radius: 20px;
    color: white;
    font-size: 20px;
   cursor: pointer;
}